@page
@model HSPMFront.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <img src="~/Images/bg-banner (1).jpg" class="img-fluid" />
    <div class="mt-4">
        
        <a class="btn btn-info" href="/booking">Booking</a>
        <a class="btn btn-info" href="/praticien">Praticien</a>
    </div>
</div>
